.myPageWidth {
    width: 50%;
}

nav {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: maroon;
}

nav a:hover{
    background-color: white;
    color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;    
}

nav ul li {
    font-size: 17px;    
}

nav ul li a {
    display: block;
    border: 2px solid black;
    color: rgb(199, 188, 188);
    text-decoration: none;
    border-radius: 5px;
    padding: .5em 1em;
    margin: .5em;
}

.box {
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: maroon;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 2em 2em;
    margin: auto;
    clear: left;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;    
}

.flexbox {
    border: 2px dashed black;
    border-radius: 5px;
    padding: 1px;
    text-align: left;
    text-indent: none;

    flex:initial;
}

.table,th,td {
    border: 2px solid;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

header {
    font-family: 'Arial Black', sans-serif;
    font-size: 19px;
    letter-spacing: 4px;
    text-align: center;

    background-image: url(https://uploads-ssl.webflow.com/61d8ab875a4c6b5e247357f4/61e2308e563b68bf105b8f23_Logo%20W.svg), url(https://uploads-ssl.webflow.com/61d8ab875a4c6b5e247357f4/61e2308e563b68bf105b8f23_Logo%20W.svg);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-kerning: auto;
    margin: 1em;
    text-align: center;
    text-indent: hanging;
    background-color: #A9A9A9;
}